$primary-color-1: #fd712c;
$primary-color-2: #ed3072;
$title-link-color: #222222;
$text-color: #777777;
$lines-color: #d9dcde;
$back-color: #f7fafc;
$white: #ffffff;
$primary-gradient:  linear-gradient(to right, $primary-color-1, $primary-color-2);;
$d-bold: Dosis-bold;
$d-semibold: Dosis-semibold;
$d-medium: Dosis-medium;
$r-medium: Roboto-medium;
$r-regular: Roboto-regular;
$r-light: Roboto-light;
$title-mrgn: 30px;
//$schadow: 0px 5px 9px $back;

@font-face {
	font-family: Dosis-bold;
	src: url(../../src/fonts/dosisbold.woff);
	src: url(../../src/fonts/dosisbold.woff2);
}
@font-face {
	font-family: Dosis-semibold;
	src: url(../../src/fonts/dosissemibold.woff);
	src: url(../../src/fonts/dosissemibold.woff2);
}
@font-face {
	font-family: Dosis-medium;
	src: url(../../src/fonts/dosismedium.woff);
	src: url(../../src/fonts/dosismedium.woff2);
}
@font-face {
	font-family: Roboto-light;
	src: url(../../src/fonts/roboto-light-webfont.woff);
	src: url(../../src/fonts/roboto-light-webfont.woff2);
}
@font-face {
	font-family: Roboto-regular;
	src: url(../../src/fonts/roboto-regular-webfont.woff);
	src: url(../../src/fonts/roboto-regular-webfont.woff2);
}
@font-face {
	font-family: Roboto-medium;
	src: url(../../src/fonts/roboto-medium-webfont.woff);
	src: url(../../src/fonts/roboto-medium-webfont.woff2);
}

@mixin flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@mixin link {
	text-decoration: none;
	color: #fff;
}
@mixin f-icon {
	content: "";
    position: absolute;
    height: 22px;
    top: 25px;
    background-size: contain;
    left: calc(50% - 11px);
}
@mixin download-icon {
	content: "";
    position: absolute;
    width: 82px;
    height: 82px;
    top: 16px;
    background-size: contain;
    left: 40px;
}
@mixin customer-icon {
	content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: -12px;
    left: -140px;
}
@mixin secondary-title {
	font-family: $d-medium;
    font-size: 34px;
    color: $title-link-color;
    margin-bottom: $title-mrgn;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}